<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DialUpEmulator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <DialUpEmulator.My.MySettings>
            <setting name="myUsername" serializeAs="String">
                <value>user@world.com</value>
            </setting>
            <setting name="myPassword" serializeAs="String">
                <value>myBeitenPassword</value>
            </setting>
            <setting name="myMaxBaud" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="myNetAdapterName" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="myNetAdapterDeviceId" serializeAs="String">
                <value>0</value>
            </setting>
        </DialUpEmulator.My.MySettings>
    </userSettings>
</configuration>
